.homepage-3.the-search .rld-single-input input {
    width: 100%;
}
.rld-main-search {
    border-radius: 6px;
    box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
    -webkit-box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
    -moz-box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
    box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
}
.popular .homes-tag.sale {
    width: unset !important;
}
.popular .homes .button {
    letter-spacing: unset;
}
.popular .footer h6 {
    display: inline;
}
.popular .footer h6 span {
    float: none;
    font-size: 20px;
    color: #004680;
    font-weight: 600;
}
.left-side {
    width: 100%;
}
#navigation {
    float: right;
}
.first-footer .netsocials a .fa-instagram,
.first-footer .netsocials a .fa-facebook,
.first-footer .netsocials a .fa-twitter,
.first-footer .netsocials a .fa-youtube {
    background: transparent;
    color: #fff;
}
.first-footer .netsocials a .fa-instagram:hover {
    background: #c620f2;
    color: #fff;
}
.first-footer .contactus ul li .fa.fa-envelope {
    font-size: 0.7rem;
}
.fa-exclamation-circle.fa-2x {
    color: #004680;
}
.inner-pages .c_details_item .media .media-body p,
.inner-pages .c_details_item .media .media-body a {
    line-height: 50px;
}
#logo img {
    height: 50px;
    width: auto;
}
.head-tr.bottom {
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#navigation.style-1.head-tr ul li a {
    color: #000;
}
#navigation.style-1.head-tr ul li:hover a {
    color: #fff;
}
.inner-pages .headings h1 {
    /margin-top: 13.5rem;
}
.inner-pages .headings {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.first-footer .top-footer {
    background: rgb(0 40 72 / 98%);
    //background: #ddd;
}
.first-footer h3,
.widget.quick-link ul li a,
.first-footer .netabout p,
.first-footer .contactus .info p {
    //color: #000;
}
.widget.quick-link ul li a:before {
    //color: #004680;
}
.second-footer {
    //background: #777474;
    //background: #004680;
}
